# bloop and metals
.bloop
.bsp
.metals

# sbt
# (may want to keep parts of 'project')
bin/
project/target/.sbt-compilation-infos
project/target/config-classes
project/target/scala-2.12
project/target/streams
project/target/active.json
target/
build/


# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.classp